%h1
  %i.fa.fa-graduation-cap
  Cursos y Pruebas
.tabs-container
  %ul.nav.nav-tabs{role: "tablist"}
    %li
      %a.nav-link{"data-toggle": :tab, href: "#tests"}
        %i.fa.fa-shower
        Pruebas
    %li
      %a.nav-link{"data-toggle": :tab, href: "#courses"} 
        %i.fa.fa-bath
        Cursos
  .tab-content
    #tests.tab-pane{role: :tabpanel}
      .panel-body
        = render partial: '/evaluations/list', locals: {evaluations: @tests, type: 'Prueba'}
    #courses.tab-pane{role: :tabpanel}
      .panel-body
        = render partial: '/evaluations/list', locals: {evaluations: @courses, type: 'Curso'}
%br
