=# link_to 'Regresar', evaluations_path, class: 'btn btn-sm btn-default m-t-2'

%h2 Caracteristicas:

%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th Fecha
      - if @evaluation.is_a? Course
        %th Título
      %th Inscritos
      %th Ubicación
      %th Horario
      %th Costo
      %th Estado

  %tbody
    = render partial: 'detail', locals: {evaluation: @evaluation}

- if @evaluation.inscriptions.any?
  %h2 Participantes:
  - @inscriptions = @evaluation.inscriptions
  = form_tag qualify_evaluation_path, id: 'qualify_form' do
    = render file: '/inscriptions/index'

:javascript

  function change_eva(url, type, id = '', location = '', schedule_id = '', cost = '', title= '', start='', edit = false){
    var form_area = $('#new_evaluation');
    form_area.attr("action", url);
    form_area.find('#evaluation_location').val(location);
    form_area.find('#evaluation_cost').val(cost);
    form_area.find('#evaluation_schedule_id').val(schedule_id);
    form_area.find('#evaluation_type').val(type);
    form_area.find('#evaluation_title').val(title);
    form_area.find('#evaluation_start').val(start);

    if (edit == true) {
      $('#titleEva').html('Editar Evaluación');
      form_area.append("<input type='hidden' name='_method' value='patch' id='inputEdit'>");
      form_area.append("<input type='hidden' name='id' value=id id='evaluation_id'>");
      $('#areas').hide();

    }else{
      $('#titleEva').html('Nueva Evaluación');
      $('#inputEdit').remove();
      form_area.find('#evaluation_start').prop('disabled', false);
      form_area.find('#evaluation_id').prop('disabled', true);
      $('#areas').show();

      //$('#inputEdit').val('');
      //$('#inputEdit').attr('name', '');
    }
    $('#evaModal').modal();

  }