#setModal.modal.fade{"aria-hidden": "true", tabindex: '-1'}
  .modal-dialog
    .modal-content
      .alert.alert-info
        %button.close{"aria-label": "Cerrar", "data-dismiss": :modal, type: :button}
          %span{"aria-hidden": true} ×      
        %h4.text-center
          Asignar a Evaluación
      .modal-body
        = form_tag set_inscriptions_path, id: 'set_form' do
          = hidden_field_tag :inscription_id, nil
          .form-group
            %label Evaluación:
            - first_id = @actives.first.id if @actives.first
            = collection_select nil, :evaluation_id, @actives, :id, :description, {selected: first_id}, {class: 'form-control', required: true}
          .form-group
            %button.btn.btn-primary.block.full-width.m-b{:type => "submit"} Confirmar