
- if current_user.is_admin?
  - @actives = Evaluation.activa
  = render '/users/confirmation_modal'
  = render '/users/update_inscription_modal'

= render partial: '/users/profile'
%br
%h2 Evaluaciones: 
= render partial: '/inscriptions/index', locals: {inscriptions: @user.inscriptions, type: :inscritos} if @user.is_student?