#newUserSession.modal.fade{"aria-hidden": "true", tabindex: '-1'}
  .modal-dialog
    .modal-content
      .alert.alert-info
        %button.close{"aria-label": "Cerrar", "data-dismiss": :modal, type: :button}
          %span{"aria-hidden": true} ×
        .text-center Ingresar al Sistema
      .text-center.loginscreen
        %h1.logo-name EIM
        %h3 Escuela de Idiomas Modernos
        %h4 UNIVERSIDAD CENTRAL DE VENEZUELA
        %h5.text-muted Cursos y Pruebas Instrumentales

      .modal-body
        = form_tag( authenticate_home_path, class: "form-horizontal m-t") do
          .form-group
            %label Cédula:
            = text_field_tag "[user]id", nil, {class: 'form-control ci', required: true, placeholder: 'Cédula de Identidad', autofocus: true}
          .form-group
            %label Contraseña
            = password_field_tag "[user]password", nil, {class: 'form-control', required: true}

          .form-group
            %button.btn.btn-primary.block.full-width.m-b{:type => "submit"} Entrar