= form_for @area do |f|
  .form-group
    = f.label :description, value: 'Descripción'
    = f.text_field :description, { class: 'form-control clear', required: true, placeholder: 'Ej: Finanzas', autofocus: true}
  .actions
    %a.btn.btn-sm.btn-default{data: {dismiss: 'modal'}} Cancelar
    = f.submit 'Save', class: 'btn btn-sm btn-primary'
