%h3.title Opciones:
.middle-box
	= link_to 'Presentar Prueba de Dominio Instrumental de un Idioma Extrangero', '#', class: 'btn btn-primary btn-sm'
	%br
	%br
	= link_to 'Realizar Curso Instrumental Inglés', '#', class: 'btn btn-primary btn-sm'
	%br
	%br
