.row.border-bottom
  %nav.navbar.navbar-static-top.white-bg{:role => "navigation", :style => "margin-bottom: 0"}
    .navbar-header
      %a.navbar-minimalize.minimalize-styl-2.btn.btn-primary{:href => "javascript:void(0);"}
        %i.fa.fa-bars
      - if current_user.is_admin?
        %form.navbar-form-custom{:action => users_path, :method => "get", :role => "search"}
          .form-group
            %input#top-search.form-control{:name => "top-search", :placeholder => "Buscar Estudiante...", :type => "text"}/
    %ul.nav.navbar-top-links.navbar-right
      %li
        %a{href:  logout_home_path}
          %i.fa.fa-sign-out
          Salir
